.cardHeight {
  height: 500px;
}

.footer-height {
  height: 400px;
}

.footer-content {
  font-size: 16px;
  font-weight: 500;
}

@media screen and (min-width: 1440px) {
  .text-2xl {
    font-size: 40px !important;
    line-height: 48px !important;
  }

  .large-font {
    font-size: 44px !important;
    line-height: 48px !important;
  }
}

@media screen and (max-height: 1024px) {
  .cardHeight {
    height: 360px;
  }
}
